@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    max-width: 85ch;
    margin-left: auto;
    margin-right: auto;
    padding: 1ch;
}

a {
    color: #2590EB;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

header>img {
    margin: 2ch;
    max-width: 75px;
}

hr {
    border: none;
    border-top: 1px dashed #9f9f9f;
}

#post-title {
    margin-bottom: 0;
}

#date {
    margin-left: 1ch;
    font-size: .8rem;
}